<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><!--siteName-->:: <!--emailTitle--></title>
        <style>
            a{color:#1b3469;}
            a:hover{color:#1b3469;}
            .email_footer a{color:#333333;}
            .email_footer a:hover{color:#5d91cc;}
        </style>
    </head>
    <body style="margin:0px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Tahoma, Arial, sans-serif; font-size:11px;color:#575757;line-height:15px;">
            <tr>
                <td>&nbsp;</td>
                <td width="590" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="30" align="right" style="font-family:Tahoma, Arial, sans-serif; font-size:11px; color:#333333;padding:0 5px 0 0;"><!--currentdate--></td>
                        </tr>
                        <tr>
                            <td style="border:solid 3px #EF3434;" bgcolor="#e1e1e1">
                                <table width="100%" border="0" cellspacing="0" cellpadding="9">
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height="68" style="font-family:Arial, Helvetica, sans-serif; font-size:25px; color:#4CB6D6; text-indent:10px;"><a href="<!--baseURL-->"><img src="<!--baseURL-->/themes/frontend/images/logo.png" border="0" outline="0" /></a></td>
                                                </tr>
						    <tr><td>&nbsp;</td></tr>
                                                <tr>
                                                    <td bgcolor="#E1E1E1" style="font-family:'segoe UI', Arial, sans-serif; font-size:13px; color:#e0e0e0; padding:6px 10px;"><!--subject--></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" bgcolor="#ffffff" style="padding:12px;"><!--contents--></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>
</html>
